body {
	background-color:  #CDCFD8;
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	font-size: 1em;
}

/* chatbot styles */
* {
	font-family: 'Barlow', sans-serif;
	font-size: 10.5pt;
   }
   
 
   .chat {
	width: 60vh;
	height: 85vh;
	position: fixed;
	overflow-x: auto;
	z-index: 2;
	margin-top: 2vh;
	margin-left: 20vw;
	background-color: rgba(245, 245, 245, 0.2);
   }
   
   .actions {
	position: fixed;
	bottom: 5vh;
	display: block;
	width: 100%;
   }
   
   .actions input{
	min-height: 5vh; 
	/* height:fit-content; */
	display: block;
	width: 50vh;
	outline: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	background-color: transparent;
	padding-left: 2.5vh;
	padding-right:2.5vh;
	border-radius:2vh;
	color: black;
	
   }
   
   .messages div {
	/* max-width: 45%; */
	/* width:auto;  */
	/* overflow: auto; */
	display: block;
	margin: 2vh;
	padding: 2vh;
	border-radius: 1vh;
	width: auto;
   }
   
   .messages .bot {
	text-align: left;
	margin-right: auto;
	background:rgba(246,77,255,0.1);
	color: white;
	max-width: 50%;
   }

   .messages .botHide{
	margin-right: auto;
	background:rgba(246,77,255,0);
	max-width: 50%;
   }
   
   .messages .self {
	text-align: right;
	margin-left: auto;
	background:rgba(70, 219, 247,0.3);
	max-width: 40%;
   }

 /* Container styles */
 #container {
	/* position: absolute;
	left: 384px;
	top: 40px;
	width: 600px; */
	position: fixed;
	margin-top:2vh;
	margin-left: 52vw;
	margin-right: 20vw;
	background-color: rgba(138, 188, 209, 0.05);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	font-family: "Dosis", sans-serif;
  }
  
  #container p {
	color: rgba(245, 245, 245, 0.6);
  }
  
  #container span {
	color: rgba(245, 245, 245, 0.4);
	font-family: "Dosis", sans-serif;
  }
  

 .logCells {
	display: none;
	height: 47px;
	width: 47.5px;
	margin: 4px;
	font-size: small;
	text-align: center;
	box-sizing: border-box;
	border: 0.1em solid #ffffff;
	border-color: rgba(205, 209, 211, 0.1);
	background-color: rgba(138, 188, 209, 0.04);
	line-height: 47px;
  }

 .logCells p {
	margin: 0;
	padding: 0;
  }
  
  .logCells :hover {
	background-color: rgba(138, 188, 209, 0.2);
  }

  /* pop up window */


#popUpWindow{
	/* cursor: move; */
  	display: none;
	width: 30vw;
	height: 45vh;
  	border: 2px solid silver;
	background-color: rgb(255, 251, 236);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  	padding: 18px;
	position: absolute;
  	z-index: 10;
	margin-left: 35vw;
	margin-right: 35vw;
	margin-top: 20vh;
	margin-bottom: 35vh;
}

#closePopUp {
	display: block;
	position:absolute;
	top:0px;
	right:0px;
	padding:0px;
	margin:0px;
	height: 36px;
	width: 36px;
	font-size: small;
	text-align: center;
	box-sizing: border-box;
	/* border: 0.1em solid #ffffff;
	border-color: rgba(205, 209, 211, 0.1);
	background-color: rgba(138, 188, 209, 0.04); */
	color:darkblue;
	line-height: 36px;
  }

 #closePopUp p {
	margin: 0;
	padding: 0;
  }
  
  #closePopUp:hover {
	/* background-color: rgba(138, 188, 209, 0.2); */
	color:darkred;
  }

  #popUpText{
	  font-size: small;
	  position: absolute;
	  bottom:8px;
	  display: inline-block;
	  margin-top: 36px;
	  margin-right: 8px;
  }

  #popUpTitle{
	  display: inline-block;
	  font-size:medium;
	  position: absolute;
	  padding: 0;
	  margin: 0;
	  top: 0px;
	  text-align: center;
	  line-height: 48px;
  }

  #pageMask{
	  position: absolute;
	  top:0px;
	  left:0px;
	  right:0px;
	  bottom: 0px;
	  margin:0px;
	  padding:0px;
	  background-color:rgb(10, 10, 10);
	  height: 100%;
	  width:100%;
	  z-index: 0;
	  overflow:hidden;
	  transition: all 1s linear;
	  opacity: 0;
	  display: none;
  }